/* FONTS ====================== */

@font-face {
           font-family: 'Favorit';
           src:
           url('../webfonts/Favorit_Regular.ttf') format('TrueType');
}


/* MAIN STYLES ====================== */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Favorit', sans-serif;
  font-weight: 400!important;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  height: 100vh;
  display: flex;
}

body::-webkit-scrollbar {
    display: none;
}

.left, .right {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 70px 80px;
}

.right {
  background-image: url('../assets/holo.jpg');
  background-size: cover;
  background-position: left;
}

h1, h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;

  span {
    display: block;
    opacity: 0.4;
  }
}

a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  display: inline-block;
  text-decoration: none;
  color: white;
  opacity: 0.4;
  transition: 0.2s;
}

a:hover {
  opacity: 1;
}

.l-t {
  position: fixed;
  top: 80px;
  left: 80px;
}

.l-m {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.l-b {
  position: fixed;
  bottom: 80px;
  left: 80px;
}

.r-t {
  position: fixed;
  top: 80px;
  right: 80px;
  opacity: 1;
}

.r-b {
  position: fixed;
  right: 80px;
  bottom: 80px;
  opacity: 1;
}
